<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{ with .Site.LanguageCode }} xml:lang="{{ . }}" lang="{{ . }}"{{ end }}>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{ .Title }}{{ if eq .IsHome false }} | {{ .Site.Title }}{{ end }}</title>
	{{ $mainStyle := resources.Get "css/main.css" | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $mainStyle.Permalink }}" />
	{{ if .Site.Params.MastodonUser }}
	{{ $mastodonStyle := resources.Get "css/mastodon-comments.css" | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $mastodonStyle.Permalink }}" />
	{{ end }}
	{{ if .Site.Params.Head.AddOpenGraph }}
	{{ template "_internal/opengraph.html" . }}
	{{ end }}
	{{ if .Site.Params.Head.AddTwitterCard }}
	{{ template "_internal/twitter_cards.html" . }}
	{{ end }}
	{{ if .Site.Params.Head.AddSchema }}
	{{ template "_internal/schema.html" . }}
	{{ end }}
</head>
<body>
