{{ if .Site.Params.MastodonUser }}
<section class="section">
  <div class="container comments-container">
    <h2>Reactions from Mastodon</h2>
    <div id="statistics">
        <div id="like-count-container"></div><div id="reblog-count-container"></div><div id="reply-count-container"></div>
    </div>
    <div class="clear"></div>
    <div id="comments"></div>
    <div class="clear"></div>
    <div id="reference"></div>
    <noscript>
    Replies from Mastodon can only be shown when JavaScript is enabled. This
    might cause requests to mastodon.social to be made.
    </noscript>
  </div>
</section>
<script>
    var BaseURL = "{{ .Site.BaseURL }}";
    var RelPermalink="{{ .RelPermalink }}";
    var MastodonUser = "{{ .Site.Params.MastodonUser }}";
</script>
{{ $jquery := resources.Get "js/jquery.min.js"  | fingerprint }}
<script src="{{ $jquery.Permalink }}" defer="defer"></script>
{{ $mastodonJS := resources.Get "js/mastodon-comments.js" | fingerprint }}
<script src="{{ $mastodonJS.Permalink }}" defer="defer"></script>
{{ end }}
