<section class="section">
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        {{ if .Site.Params.AvatarImage }}
          <a class="nav-item" href="{{ .Site.BaseURL }}/"><img src="{{ .Site.Params.AvatarImage }}" class="avatar"><span class="title">{{ .Site.Title }}</span></a>
        {{ else }}
        <a class="nav-item" href="{{ .Site.BaseURL }}/"><span class="title">{{ .Site.Title }}</span></a>
        {{ end }}
      </div>
      <div class="navbar-end ">
        <div class="buttons">
          {{ range .Site.Params.social }}
          <a href="{{ .url }}" rel="me" class="icon">
              {{ $path := printf "node_modules/@fortawesome/fontawesome-free/svgs/%s.svg" .fa_icon  }}
              {{ os.ReadFile $path | safeHTML }}
          </a>
          {{ end }}
        </div>
      </div>
    </nav>
  </div>
</section>
